<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bernie.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A724B8902CE01A74008BA7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A724B8A52CE01A75008BA7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A724B8AF2CE01A75008BA7C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
